<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082815366088-0i4khe73deg3gkm9fhe2jtas57p3re1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082815366088-0i4khe73deg3gkm9fhe2jtas57p3re1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAY6_up_pWvMTjJfeEYBgeWX443tzhm2fM</string>
	<key>GCM_SENDER_ID</key>
	<string>1082815366088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speedyship</string>
	<key>PROJECT_ID</key>
	<string>speedyship-ec358</string>
	<key>STORAGE_BUCKET</key>
	<string>speedyship-ec358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082815366088:ios:323caff3b0be86b782f6fd</string>
</dict>
</plist>